
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav nav-pills flex-row">

      <li class="nav-item">
        <a class="nav-link" href="#camisetas">Camisetas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pantalones">Pantalones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#accesorios">Accesorios</a>
      </li>
    </ul>

    <a class="nav-link" style="position: fixed; bottom: 20px; right: 20px;" href="#Login">Ir Arriba</a>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button type="button" class="btn" id="Login">Login</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn">Registro</button>
      </li>
    </ul>
  </div>
</nav>


  
  <!-- Contenidos correspondientes a las secciones del menú -->
  <div data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="0" tabindex="0">
    <section id="camisetas">
      <h4>Camisetas</h4>
      <section class="results">
        <app-carta-producto [producto]="Producto"></app-carta-producto>
      </section>
    </section>
    <section id="pantalones">
      <h4>Pantalones</h4>

    </section>
    <section id="accesorios">
      <h4>Accesorios</h4>

    </section>
  </div>
  
